nav{
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.button{
    background: transparent linear-gradient(180deg, #4D76DD 0%, #171E45 100%) 0 0 no-repeat padding-box;
    box-shadow: inset 0 6px 6px #00000029;
    border: 1px solid #EEEEEE;
    border-radius: 35px;
    width: 7em;
    margin-left: 3em;
    text-align: center;
    letter-spacing: 1px;
    color: #EEEEEE;
}

nav > ul{
    list-style-type: none;
    color:white;
    font: normal normal normal 20px/27px Segoe UI;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    width: calc(100% - 50px);
    position: relative;
}
nav > ul> li{
    text-align: left;
    margin-bottom: 1.5em;
    width: 100%;
}
nav > ul > li:last-child{
    position: absolute;
    bottom: 0;
    width: 100%;
}
nav > ul > li > a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
    border: 3px solid #EEEEEE;
}
nav > ul > li > i {
    font-size: 1.5em;
}

.buttons-section > div{
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

.fa, .fas, .fa-solid {
    width: 1em;
}

