body {
    margin: 0;
    background: transparent linear-gradient(180deg, #2D3C8A 0%, #171E45 100%) 0 0 no-repeat padding-box;
}
.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50%;
}
.logo > img {
    width: 80%;
}

.register-container {
    width: 50%;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50vh;

    background: #FFFFFF66 0 0 no-repeat padding-box;
    box-shadow: inset 0 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 28px;;
}
.form > input {
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
    padding: 1em;
    margin: 1em;
    width: 50%;
    color: white;
}
.form > ::placeholder{
    color:white;
}
button {
    background: transparent linear-gradient(180deg, #4D76DD 0%, #171E45 100%) 0 0 no-repeat padding-box;
    box-shadow: inset 0 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 28px;
    width: 50%;
    color: #EEEEEE;
    margin: 0 1em;
    line-height: 2em;
}

hr{
    width: 90%;
    height: 1px;
    background: gray;
    border: 0;
}

.register-buttons{
    display: flex;
    justify-content: flex-start;
    width: 60%;
}

@media only screen and (max-device-width: 420px){
    .container {
        flex-direction: column;
    }

    .register-container{
        width: 80%;
    }

    * {
        font-size: 10px;
    }

    .login-container, .logo {
        width: 100%;
    }


    form {
        margin: auto;
    }

    .register-buttons{
        flex-direction: column;
        justify-content: flex-start;
        width: 60%;
    }

    button{
        width: 100%;
    }
}
